<div id="winDetail" class="easyui-window" title="title" data-options="closed:true,closable:true,collapsible:false,minimizable:false,maximizable:false,modal:true,iconCls:'icon-ok'" style="height:600px; width:500px">
    <form>
        <table style="margin-left:auto;margin-right:auto;width:90%;">
            <tr>
                <td style=" width:20%"><label class="easyui-label">需求部门：</label></td>
                <td>
                    <label class="control-label" id="spdeptname"></label>
                </td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">需求职位：</label></td>
                <td><label class="control-label" id="sppostname"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">招聘人数：</label></td>
                <td><label class="control-label" id="spneedquantity"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"> <label class="easyui-label">面试官：</label></td>
                <td><label class="control-label" id="spdemander"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">截止时间：</label></td>
                <td><label class="control-label" id="spcuttime"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">负责人：</label></td>
                <td><label class="control-label" id="spprincipal"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">面试地址：</label></td>
                <td><label class="control-label" id="spinterviewaddress"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">工作职责：</label></td>
                <td><label class="control-label" id="spjobresponsibility"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">岗位要求：</label></td>
                <td><label class="control-label" id="sppostrequest"></label></td>
            </tr>
          
            <tr>
                <td style=" width:20%"><label class="easyui-label">备注：</label></td>
                <td><label class="control-label" id="spremarks"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">创建人：</label></td>
                <td><label class="control-label" id="spcreateby"></label></td>
            </tr>
            <tr>
                <td style=" width:20%"><label class="easyui-label">创建时间：</label></td>
                <td>
                    <label class="control-label" id="spcreatetime"></label>
                </td>
            </tr>


        </table>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 easyui-l-btn">
                <a id="btnWinDetailClose" class="easyui-linkbutton" href="javascript:void(0)" style="width:100px;">关闭</a>
            </div>
        </div>
    </form>
</div>