<div id="winQuery" class="easyui-window" title="高级查询" data-options="closed:true,closable:true,collapsible:false,minimizable:false,maximizable:false,modal:true,iconCls:'icon-search'" style="height: 144px;">
    <form>
        <table style="margin-left:auto;margin-right:auto;width:90%;">
            <tr>
                <td>
                    <label class="easyui-label">姓名:</label>
                </td>
                <td>
                    <input type="text" id="name" name="name" value="" class="easyui-control" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a id="btnWinQueryOk" class="easyui-linkbutton" href="javascript:void(0)" style="width:80px;">确定</a>
                    <a id="btnWinQueryReset" class="easyui-linkbutton" href="javascript:void(0)" style="width:80px;">重置</a>
                    <a id="btnWinQueryCancel" class="easyui-linkbutton" href="javascript:void(0)" style="width:80px;">取消</a>
                </td>
            </tr>
        </table>
    </form>
</div>
