<div id="winEdit" class="easyui-window" title="title" data-options="closed:true,closable:true,collapsible:false,minimizable:false,maximizable:false,modal:true,iconCls:'icon-add'" style="height:460px;">
    <form id="frmEdit" method="post">
        <input type="hidden" value="0" id="id" name="id" />
        <table style="margin-left:auto;margin-right:auto;width:90%;">
            <tr>
                <td><label class="easyui-label">上级菜单：</label></td>
                <td>
                    <select id="parentid" name="parentid" style="width:245px; height:34px;" class="easyui-control easyui-validatebox" data-options="required:true"></select>
                </td>
            </tr>
            <tr>
                <td><label class="easyui-label">菜单编号：</label></td>
                <td><input id="menucode" name="menucode" type="text" class="easyui-control easyui-validatebox" data-options="required:true,validType:'length[1,20]'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">菜单文本：</label></td>
                <td><input id="menutext" name="menutext" type="text" class="easyui-control easyui-validatebox" data-options="required:true,validType:'length[1,20]'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">UrL：</label></td>
                <td><input id="menuurl" name="menuurl" type="text" class="easyui-control easyui-validatebox" data-options="required:false,validType:'length[1,50]'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">图标：</label></td>
                <td><input id="menuicon" name="menuicon" type="text" class="easyui-control easyui-validatebox" data-options="required:false,validType:'length[1,50]'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">样式：</label></td>
                <td><input id="menuclass" name="menuclass" type="text" class="easyui-control easyui-validatebox" data-options="required:false,validType:'length[1,50]'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">排序：</label></td>
                <td><input id="seqno" name="seqno" type="text" value="1" class="easyui-control easyui-validatebox" data-options="required:true,validType:'number'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">是否显示：</label></td>
                <td>
                    <select id="isshow" name="isshow" style="width:245px; height:34px;" class="easyui-control easyui-combobox easyui-validatebox" data-options="required:true"></select>
                </td>
            </tr>
            <tr>
                <td><label class="easyui-label">备注：</label></td>
                <td>
                    <textarea id="remarks" name="remarks" class="easyui-control easyui-validatebox" style="height:60px" data-options="required:false,validType:'length[1,100]'"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a id="btnWinEditOk" class="easyui-linkbutton" href="javascript:void(0)" style="width:100px;">确定</a>
                    <a id="btnWinEditCancel" class="easyui-linkbutton" href="javascript:void(0)" style="width:100px;">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#parentid").combobox({
            url: '@Url.Action("ListMenuParent")',
            valueField: "id",
            textField: "text",
            loadFilter: function (data) {
                data.unshift({ id: 0, text: '顶级菜单' });
                return data;
            }
        });
        $("#isshow").combobox({
            valueField: "id",
            textField: "text",
            data: [{ id: 1, text: '是' }, { id: 0, text: '否' }]
        });
    });
    function EditFinish(data) {
        if (data.result) {
            $.messager.show({ title: '编辑提示', msg: (data.msg == undefined || data.msg == '') ? '编辑成功' : data.msg });
            $(editid).window("close");
            if ($(editid).data("edit")) {
                data.dto.isshowdesc = data.dto.isshow == 0 ? "否" : "是";
                $(dgid).treegrid('update', { id: data.dto[dgKey], row: data.dto });
            } else {
                $(dgid).treegrid('reload');
            }
        } else {
            $.messager.show({ title: '编辑提示', msg: (data.msg == undefined || data.msg == '') ? '编辑失败' : "编辑失败," + data.msg });
        }
    }
    function LoadEditDataSuccess(data) {
        $("#parentid").combobox('clear');
        $("#isshow").combobox('clear');
        $("#parentid").combobox('setValue', data.dto.parentid);
        $("#isshow").combobox('setValue', data.dto.isshow);
    }
</script>