<div id="winDetail" class="easyui-window" title="title" data-options="closed:true,closable:true,collapsible:false,minimizable:false,maximizable:false,modal:true,iconCls:'icon-ok'" style="height: 150px;">
    <form>
        <table style="margin-left:auto;margin-right:auto;width:90%;">
            <tr>
                <td><label class="easyui-label">角色名称：</label></td>
                <td>
                    <label class="control-label" id="sprolename"></label>
                </td>
            </tr>
            <tr>
                <td><label class="easyui-label">角色描述：</label></td>
                <td>
                    <label class="control-label" id="sproledescription"></label>
                </td>
            </tr>
            <tr>
                <td><label class="easyui-label">备注：</label></td>
                <td>
                    <label class="control-label" id="spremarks"></label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a id="btnWinDetailClose" class="easyui-linkbutton easyui-btn" href="javascript:void(0)">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>