<div id="winEdit" class="easyui-window" title="title" data-options="closed:true,closable:true,collapsible:false,minimizable:false,maximizable:false,modal:true,iconCls:'icon-add'" style="height:270px;">
    <form id="frmEdit" method="post">
        <input type="hidden" value="0" id="id" name="id" />
        <table style="margin-left:auto;margin-right:auto;width:90%;">
            <tr>
                <td><label class="easyui-label">角色名称：</label></td>
                <td><input id="rolename" name="rolename" style="width:245px;" type="text" class="easyui-control easyui-validatebox" data-options="required:true,validType:'length[1,20]'" /></td>
            </tr>
            <tr>
                <td><label class="easyui-label">角色描述：</label></td>
                <td>
                    <input id="roledescription" name="roledescription" style="width:245px;" type="text" class="easyui-control easyui-validatebox" data-options="required:false,validType:'length[1,200]'" />
                </td>
            </tr>
            <tr>
                <td><label class="easyui-label">角色备注：</label></td>
                <td>
                    <textarea id="remarks" name="remarks" class="easyui-control easyui-validatebox" style="width:245px;height:60px;" data-options="required:false,validType:'length[1,100]'"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center; padding-top:10px;">
                    <a id="btnWinEditOk" class="easyui-linkbutton" href="javascript:void(0)" style="width:100px;">确定</a>
                    <a id="btnWinEditCancel" class="easyui-linkbutton" href="javascript:void(0)" style="width:100px;">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>