<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="HKSJRecruitmentContext" connectionString="Data Source=192.168.16.83;Initial Catalog=HKSJRecruitment;Persist Security Info=True;User ID=sa;Password=huixin88;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>